.aboutus__banner {
  width: 100%;
  position: relative;
}
.aboutus__banner img {
  width: 100%;
  height: 750px;
  object-fit: cover;
}
.aboutus__banner__content {
  position: absolute;
  top: 290px;
  left: 210px;
}
.aboutus__banner__logo {
  margin-bottom: 2em;
}
.aboutus__banner__logo img {
  width: 425px;
}
.aboutus__banner__button {
  cursor: pointer;
  padding: 1em 2em;
  color: #02071c;
  font-size: 17px;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  text-align: center;
}
.aboutus__banner__button:hover {
  background-color: #02071c;
  color: #fff;
}
.aboutus__first__section {
  display: flex;
}
.about__us__first__left {
  // width: 150px;
}
.about__us__first__right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__us__first__right img {
  // width: 100%;
  height: 400px;
  width: 60%;
  object-fit: contain;
}
.about__us__first__right__content {
  width: 40%;
}
.about__us__first__right__content__heading {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0.6em;
}
.about__us__first__right__content__info {
  width: 400px;
}
.aboutus__second__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.aboutus__second__section__left {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.aboutus__second__section__left__content {
  margin-right: 5em;
}
.aboutus__second__section__left img {
  height: 450px;
  // width: 50%;

  object-fit: contain;
}
.aboutus__second__section__left__content__heading {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0.6em;
}
.aboutus__second__section__left__content__info {
  width: 400px;
}

.aboutus__first__section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.aboutus__second__section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1460px) {
  .aboutus__second__section__right__one {
    display: none;
  }
  .about__us__first__left__two {
    display: none;
  }
  .about__us__first__right {
    margin-right: 3em;
  }
  .aboutus__second__section__left {
    margin-left: 3em;
  }
  .aboutus__second__section__left img {
    height: 400px;
  }
  .about__us__first__right img {
    height: 350px;
  }
  .aboutus__second__section__right {
    margin-left: 3em;
  }
  .aboutus__second__section__right {
    margin-left: 0em;
  }
  .about__us__first__right img {
    width: 56%;
  }
}
@media (max-width: 1220px) {
  .about__us__first__left img {
    width: 180px;
  }
  .aboutus__second__section__right__two {
    width: 150px;
  }
  .aboutus__second__section__left {
    margin-left: 0em;
  }
}
@media (max-width: 1100px) {
  .about__us__first__left {
    display: none;
  }
  .aboutus__second__section__right__two {
    display: none;
  }
  .aboutus__first__section {
    margin: 3em 0em;
  }
  .aboutus__second__section__left {
    margin-top: 2em;
  }
}
@media (max-width: 960px) {
  .aboutus__second__section__left__content {
    margin-right: 1em;
  }
  .about__us__first__right__content {
    margin-left: 1em;
  }
  .aboutus__second__section__left img {
    height: 320px;
  }
  .about__us__first__right img {
    height: 300px;
  }
  .about__us__first__right img {
    width: 50%;
  }
  .about__us__first__right {
    margin-right: 6em;
  }
}
@media (max-width: 800px) {
  .aboutus__banner__content {
    top: 200px;
    left: 90px;
  }
  .aboutus__banner__logo img {
    width: 300px;
  }
  .aboutus__banner__button {
    font-size: 15px;
  }
  .about__us__first__right__content__heading {
    font-size: 35px;
  }
  .about__us__first__right__content__info {
    width: 300px;
  }
  .aboutus__second__section__left__content__heading {
    font-size: 35px;
  }
  .aboutus__second__section__left__content__info {
    width: 300px;
  }
  .aboutus__second__section__left img {
    height: 350px;
  }
  .about__us__first__right {
    margin-right: 0em;
  }
  .aboutus__banner img {
    height: 500px;
  }
}
@media (max-width: 750px) {
  .about__us__first__right {
    flex-direction: column;
  }
  .about__us__first__right__content {
    margin-left: 0em;
  }
  .about__us__first__right__content {
    margin-top: 2em;
  }
  .aboutus__second__section__left {
    flex-direction: column;
    margin-top: 3em;
  }
  .aboutus__second__section__left__content {
    margin-bottom: 3em;
  }
  .about__us__first__right img {
    width: 100%;
  }
  .about__us__first__right__content {
    width: 67%;
  }
  .aboutus__second__section__left__content {
    width: 67%;
  }
}
