*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(21, 87, 255);
  border-radius: 50px;
}
*::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 50px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.heading {
  font-family: "Lato", sans-serif;
}
