.header {
  position: absolute;
  top: 0px;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__content {
  width: 100%;
  max-width: 1366px;
  padding: 1em 2em;
  margin: 0em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__content__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__content__logo__img {
  width: 180px;
}
.header__content__nav__link {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0em 1em;
  color: white;
  cursor: pointer;
}
.header__content__nav__link:hover {
  text-decoration: underline;
}
.header__content__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__content__actions__button {
  background-color: transparent;
  border: 1px solid white;
  font-size: 14px;
  padding: 0em 1.5em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1em;
}
.header__content__actions__button:hover {
  background-color: white;
  color: #4c51c4;
}
.header__content__actions__language {
  background-color: white;
  color: black;
  padding: 0em 1em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}
.header__content__actions__language__img {
  margin-right: 0.5em;
}
.header__content__actions__language svg {
  margin-left: 0.3em;
}
.header__content__actions__menu {
  width: 40px;
  height: 40px;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  background-color: white;
  margin-left: 1em;
  border-radius: 5px;
  cursor: pointer;
}
.header__panel {
  position: absolute;
  top: 5em;
  width: 100%;
  max-width: calc(1366px - 4em);
  padding: 2em;
  height: 280px;
  margin: 0em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.header__panel__entry {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 300px;
  background-color: transparent;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: 2em;
  border-radius: 10px;
}
.header__panel__entry__icon {
  margin-bottom: 1em;
}
.header__panel__entry__icon svg {
  width: 60px;
  height: 60px;
}
.header__panel__entry__text {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
}
.header__panel__entry:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#10cdbb),
    to(#4c51c4)
  );
  background: -o-linear-gradient(left, #10cdbb, #4c51c4);
  background: linear-gradient(90deg, #10cdbb, #4c51c4);
}
.header__panel__entry:hover .header__panel__entry__icon * {
  fill: white;
}
@media (max-width: 1366px) {
  .header__content {
    max-width: 1200px;
  }
  .header__panel {
    width: calc(100% - 4em);
  }
}
@media (max-width: 1000px) {
  .header__panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: calc(100% - 4em);
  }
  .header__panel__entry {
    max-width: 100%;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 1em;
  }
  .header__panel__entry__icon {
    margin-bottom: 0em;
    margin-right: 2em;
  }
  .header__panel__entry__text {
    margin-bottom: 0em;
    text-align: left !important;
  }
  .header__content__nav {
    position: absolute;
    top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 5em;
    background-color: rgba(0, 0, 0, 0.8);
    width: calc(100% - 4em);
    padding: 2em;
    border-radius: 10px;
  }
  .header__content__nav__link {
    padding: 1em 2em;
  }
  .header__content__actions__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 600px) {
  .header__panel__entry__icon {
    margin-right: 1.5em;
  }
  .header__panel__entry__icon svg {
    width: 50px;
    height: 50px;
  }
  .header__panel__entry__text {
    font-size: 16px;
  }
  .header__content__logo__img {
    width: 150px;
  }
  .header__content__actions {
    scale: 0.9;
    margin-right: -0.5em;
  }
  .header__content__actions__button {
    display: none;
  }
}
