.about__details__section__reverse {
  background: url("../assets/recruitmentAboutBg.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about__details__section__content__bottom__left__heading__reverse {
  font-size: 25px;
  font-weight: 900;
}
