.about__details__section__reverse {
  background: url("../assets/recruitmentAboutBg.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.about__details__section__content__bottom__left__heading__reverse {
  font-size: 25px;
  font-weight: 900;
}
.recuitments__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#13afb5),
    to(#073c77)
  );
  background: -o-linear-gradient(#13afb5, #073c77);
  background: linear-gradient(#13afb5, #073c77);
  padding: 4em 0em;
}
.recuitments__stats img {
  max-width: 200px;
  width: 100%;
}
.recuitments__stats__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.recuitments__stats__content__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
  border: 1px solid white;
  aspect-ratio: 1;
  border-radius: 250px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: -0.5em;
}
.recuitments__stats__content__entry__heading {
  font-size: 25px;
  width: 100%;
  max-width: 150px;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
}
.recuitments__stats__content__entry__info {
  color: white;
  font-size: 14px;
  width: 100%;
  max-width: 200px;
}
.recruitment__img__wrapper {
  padding: 0em 2em;
  width: 100%;
  max-width: 1000px;
  margin: 7em auto;
}
.recruitment__img {
  width: 100%;
}
@media (max-width: 1150px) {
  .recuitments__stats {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .recuitments__stats img {
    display: none;
  }
}
@media (max-width: 800px) {
  .recuitments__stats__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0em 2em;
  }
}
