.software__development {
  width: 100%;
  margin-top: -5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 7em;
}
.software__development__img {
  width: 100%;
  max-width: 1360px;
  padding: 0 2em;
  position: relative;
  z-index: 99;
}
.software__development__about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.software__development__about__text {
  width: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -o-linear-gradient(#236bbd, #073c77);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#236bbd),
    to(#073c77)
  );
  background: linear-gradient(#236bbd, #073c77);
  color: white;
  height: 400px;
  padding: 0 4em;
}
.software__development__about__text__info {
  margin-bottom: 2em;
}
.software__development__about__text__heading {
  font-size: 22px;
  font-weight: bold;
}
.software__development__about__img {
  width: 50%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 400px;
}
@media (max-width: 1100px) {
  .software__development__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .software__development__about__text {
    width: 100%;
    padding: 2em;
  }
  .software__development__about__img {
    width: 100%;
    max-height: 400px;
  }
}
